{% extends "@FerienpassAdmin/layout/list.html.twig" %}

{% block list %}
    {{ component('Admin:SearchableQueryableList', {
        qb: qb,
        filterType: filterType,
        routeName: app.request.get('_route'),
        routeParameters: app.request.query.all,
        searchable: searchable,
        config: {
        columns: {
            user: '
{% if item.user|default %}
<span class="inline-flex items-center justify-center h-6 w-6 rounded-full bg-gray-400">
    <span class="text-xs font-medium leading-none text-white">{{ item.user.firstname|first|upper ~ item.user.lastname|first|upper }}</span>
</span>
<span>
    {{ item.user.firstname ~ " " ~ item.user.lastname }}
</span>
{% else %}
-
{% endif %}
',
            status: '
{% import "@FerienpassAdmin/components/content_elements.html.twig" as partials %}
{% trans_default_domain "admin" %}

{{ partials.badge_green("unterzeichnet", "sm", "-ml-2") }}
',
            type: 'test',
            date: '{{ item.signedAt|date("d.m.Y H:i") }}',
        }
    }}) }}
{% endblock %}
