{% extends "@FerienpassAdmin/layout/base.html.twig" %}
{% trans_default_domain 'admin' %}

{% import "@FerienpassAdmin/components/content_elements.html.twig" as partials %}

{% block main %}

    <div>
        <div class="mb-12">

            <div class="mt-2 lg:flex lg:items-center lg:justify-between">
                <div class="flex-1 min-w-0">
                    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9">
                        {{ offer.name }}

                        {% if variants|default is not empty %}
                            <div class="relative inline-block text-left" x-data="{ dropdownOpen: false }">
                                <div>
                                    <button @click="dropdownOpen = !dropdownOpen"
                                            @click.away="dropdownOpen = false"
                                            class="flex items-center text-gray-400 hover:text-gray-600 focus:outline-none focus:text-gray-600">
                                        <span class="h-6 w-6">{% include '@FerienpassCore/Icons/chevron-down-solid.svg.twig' %}</span>
                                    </button>
                                </div>

                                <div x-show="dropdownOpen"
                                     x-transition:enter="transition ease-out duration-100"
                                     x-transition:enter-start="transform opacity-0 scale-95"
                                     x-transition:enter-end="transform opacity-100 scale-100"
                                     x-transition:leave="transition ease-in duration-75"
                                     x-transition:leave-start="transform opacity-100 scale-100"
                                     x-transition:leave-end="transform opacity-0 scale-95"
                                     class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg">
                                    <div class="rounded-md bg-white shadow-xs">
                                        <div class="py-1">
                                            {% for variant in variants %}
                                                <a href="{{ path('admin_offer_assign', { id: variant.raw.id, edition: variant.edition.id}) }}"
                                                   class="group flex items-center font-normal px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900">
                                                    <span class="h-5 w-5 mr-2 text-gray-400 group-hover:text-gray-500">{% include '@FerienpassCore/Icons/calendar.svg.twig' %}</span>
                                                    {{ variant.text.date_period }}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if "cancelled" == offer.state %}
                            {{ partials.badge_red('abgesagt', 'base') }}
                        {% endif %}

                    </h2>

                    <div class="mt-1 flex flex-col sm:mt-0 sm:flex-row sm:flex-wrap">
                        <div class="mt-2 flex items-center text-sm leading-5 text-gray-500 sm:mr-6">
                            <span class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400">
                                {% include '@FerienpassCore/Icons/hashtag-solid.svg.twig' %}
                            </span>
                            ID {{ offer.id }}
                        </div>
                        <div class="mt-2 flex items-center text-sm leading-5 text-gray-500 sm:mr-6">
                            <span class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400">
                                {% include'@FerienpassCore/Icons/user-circle-solid.svg.twig' %}
                            </span>
                            {{ offer.hosts|map(h => h.name)|join(', ') }}
                        </div>
                        <div class="mt-2 flex items-center text-sm leading-5 text-gray-500 sm:mr-6">
                            <span class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400">
                                {% include '@FerienpassCore/Icons/calendar-solid.svg.twig' %}
                            </span>
                            {% import "@FerienpassCore/Macro/offer.html.twig" as offer_macro %}
                            {{ offer_macro.date_combined(offer.dates) }}
                        </div>
                        <div class="mt-2 flex items-center text-sm leading-5 text-gray-500">
                            <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400">
                                {% include '@FerienpassCore/Icons/user-group-solid.svg.twig' %}
                            </svg>
                            <span>{{ 'min. ' ~ offer.minParticipants }} / {{ 'max. ' ~ offer.maxParticipants ~ ' TN' }}
                                und {{ 'min. ' ~ offer.minAge|default(0) }}
                                / {{ 'max. ' ~ offer.maxAge|default(99) ~ ' Jahre' }}</span>
                        </div>
                    </div>
                </div>
                <div class="mt-5 flex lg:mt-0 lg:ml-4">

                    {# Operations container #}
                    <div class="" x-data="{ dropdownOpen: false }">
                        {# Dropdown button #}
                        <div class="relative z-0 inline-flex shadow-sm rounded-md">
                            <a href="{{ path('admin_offer_assign_pdf', {id: offer.id, edition: offer.edition.alias}) }}"
                               class="relative inline-flex items-center px-4 py-2 rounded-l-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
                                <span class="-ml-1 mr-2 h-5 w-5 text-gray-500">{% include'@FerienpassCore/Icons/document-download-solid.svg.twig' %}</span>
                                PDF-Export
                            </a>
                            <div class="-ml-px relative block">
                                <button type="button" @click="dropdownOpen = !dropdownOpen"
                                        @click.away="dropdownOpen = false"
                                        class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-500 hover:text-gray-400 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-500 transition ease-in-out duration-150"
                                        aria-label="Expand">
                                    <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
                                        <path fill-rule="evenodd"
                                              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                              clip-rule="evenodd"/>
                                    </svg>
                                </button>
                                <div x-show="dropdownOpen" x-cloak
                                     x-transition:enter="transition ease-out duration-100"
                                     x-transition:enter-start="transform opacity-0 scale-95"
                                     x-transition:enter-end="transform opacity-100 scale-100"
                                     x-transition:leave="transition-opacity ease-linear duration-300"
                                     x-transition:leave-start="transform opacity-100 scale-100"
                                     x-transition:leave-end="transform opacity-0 scale-95"
                                     class="origin-top-right absolute right-0 mt-2 -mr-1 w-56 rounded-md shadow-lg">
                                    <div class="rounded-md bg-white shadow-xs" role="menu" aria-orientation="vertical"
                                         aria-labelledby="options-menu">
                                        <div class="py-1">
                                            <a href="{{ path('admin_offers_edit', { id: offer.id }) }}"
                                               class="group flex items-center px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
                                               role="menuitem">
                                                <span class="mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500">{% include '@FerienpassCore/Icons/pencil-solid.svg.twig' %}</span>
                                                Bearbeiten
                                            </a>
                                        </div>
                                        <div class="border-t border-gray-100"></div>
                                        <div class="py-1">
                                            <a href="{{ path('admin_offer_assign_pdf', {id: offer.id, edition: offer.edition.alias}) }}"
                                               target="_blank"
                                               class="group flex items-center px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
                                               role="menuitem">
                                                <span class="mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500">{% include '@FerienpassCore/Icons/document-download-solid.svg.twig' %}</span>
                                                PDF-Export
                                            </a>
                                            {% if hasWordExport %}
                                                <a href="{{ path('admin_offer_assign_docx', {id: offer.id, edition: offer.edition.alias}) }}"
                                                   target="_blank"
                                                   class="group flex items-center px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
                                                   role="menuitem">
                                                    <span class="mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500">{% include '@FerienpassCore/Icons/document-download-solid.svg.twig' %}</span>
                                                    DOCX-Export
                                                </a>
                                            {% endif %}
                                        </div>
                                        <div class="border-t border-gray-100"></div>
                                        {% if not offer.cancelled %}
                                            <div class="py-1">
                                                <a href="{{ path('admin_offers_cancel', { id: offer.id }) }}"
                                                   data-turbo-frame="modal"
                                                   class="w-full group flex items-center px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900"
                                                   role="menuitem">
                                                    <span class="mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500">{% include '@FerienpassCore/Icons/ban-solid.svg.twig' %}</span>
                                                    Absagen
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-12">

            {{ form_start(toggleMode) }}

            {% do toggleMode.auto.setRendered %}

            <div class="flex items-center space-x-3"
                 x-data="{ enabled: {{ autoAssign ? 'true' : 'false' }} }"
                 x-init="$watch('enabled', v => $nextTick(() => { $el.closest('form').submit() }) )">
                <input type="hidden" name="{{ toggleMode.auto.vars.full_name }}" :value="enabled ? '1' : ''">

                <button type="button"
                        class="bg-gray-200 relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                        :class="{ 'bg-green-700': enabled, 'bg-gray-200': !enabled }"
                        @click.prevent='enabled = !enabled'
                        role="switch" aria-checked="false" aria-labelledby="mode-label">
                    <span aria-hidden="true"
                          class="translate-x-0 pointer-events-none inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200"
                          :class="{ 'translate-x-5': enabled, 'translate-x-0': !enabled }"
                    ></span>
                </button>

                <span class="flex-grow flex flex-col" id="mode-label">
                    <span>
                        <span class="text-sm font-medium text-gray-900"
                              x-text="enabled ? 'Automatischer Modus' : 'Manueller Modus'"></span>
                        <span class="text-gray-500">(gilt nur für Sie)</span>
                    </span>
                    <span class="text-sm text-gray-500"
                          x-text="enabled ? 'Kinder rücken automatisch nach und werden bei Änderung benachrichtigt.' : 'Es rücken keine Kinder nach und es werden keine Benachrichtigungen verschickt.'"></span>
                </span>
            </div>

            {{ form_end(toggleMode) }}

        </div>

        {% if autoAssign %}
            <div class="mb-10">
                <twig:Admin:Alert type="warning" class="shadow border border-yellow-700/30">
                    <strong>Automatischer Modus ist aktiviert!</strong> Alle Teilnehmer:innen, die Sie zu- oder absagen
                    erhalten eine E-Mail! Nachrücken ist aktiviert. Wenn Sie das nicht wollen, beenden Sie den
                    automatischen Modus.
                </twig:Admin:Alert>
            </div>
        {% else %}
            <div class="mb-10">
                <twig:Admin:Alert type="info" class="shadow border border-blue-700/30">
                    <strong class="font-medium">Es werden keine Benachrichtigungen versendet.</strong> Nutzen Sie im
                    Anschluss die Funktion »<a class="underline hover:no-underline"
                                               href="{{ path('admin_send_decisions') }}">Zulassungsbescheide
                        versenden</a>«.
                </twig:Admin:Alert>
            </div>
        {% endif %}

        <twig:Admin:OfferAssign offer="{{ offer }}" autoAssign="{{ autoAssign }}"/>

    </div>

{% endblock %}
