{% macro figure(label, number) %}
    <div class="px-4 py-5 sm:p-6">
        <dt class="text-base font-normal text-gray-900">{{ label }}</dt>
        <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
            <div class="flex items-baseline text-2xl font-semibold text-primary-600">
                <span>{{ number }}</span>
            </div>
        </dd>
    </div>
{% endmacro %}

<div>
    <h3 class="text-lg leading-6 font-medium text-gray-900">Zahlen und Fakten</h3>
    <dl class="mt-5 grid grid-cols-1 rounded-lg bg-white overflow-hidden shadow divide-y divide-gray-200 md:grid-cols-3 md:divide-y-0 md:divide-x">
        {{ _self.figure('Kinder', count_participants) }}
        {{ _self.figure('Termine', count_offers) }}
        {{ _self.figure('Angebote', count_offers_no_variants) }}
        {{ _self.figure('Veranstalter mit Angebot', count_hosts) }}
        {{ _self.figure('Anmeldungen', count_attendances) }}
    </dl>
</div>
